Repository UNOGroup-Practicum/uno-game: changes, and which lefthook commands are due for each by the changed paths.
All: lintJS, lintCSS, format

lintJS:
  run: yarn eslint --fix {staged_files} && git add {staged_files}

lintCSS:
  run: yarn stylelint --fix {staged_files} && git add {staged_files}

format:
  run: yarn prettier --write {staged_files} && git add {staged_files}

feat(23UG-65): реализует авторизацию пользователя (#22)
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/auth-pages-route/AuthPagesRoute.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/protected-route/ProtectedRoute.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

chore: добавляет автосортировку импортов
  .eslintignore
  .eslintrc.js
  packages/client/.eslintrc.cjs
  packages/client/package.json
  packages/client/vite.config.ts
  yarn.lock
Due: lintJS, format

style: сортирует импорты
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/auth-pages-route/AuthPagesRoute.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/utils/createGamersPositions.ts
  packages/client/src/components/game/utils/createShuffleArrayCards.ts
  packages/client/src/components/game/utils/createUserCards.ts
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/protected-route/ProtectedRoute.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/GamePage.tsx
  packages/client/src/pages/GamePreparingPage.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/slices/gameSlice.ts
  packages/client/src/services/store.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiComponents.tsx
  packages/client/src/theme/muiPallete.tsx
  packages/client/src/theme/useTheme.ts
Due: lintJS, format

style(23UG-67): устанавливает порядок импортов (#24)
  .eslintignore
  .eslintrc.js
  packages/client/.eslintrc.cjs
  packages/client/package.json
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/auth-pages-route/AuthPagesRoute.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/utils/createGamersPositions.ts
  packages/client/src/components/game/utils/createShuffleArrayCards.ts
  packages/client/src/components/game/utils/createUserCards.ts
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/protected-route/ProtectedRoute.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/GamePage.tsx
  packages/client/src/pages/GamePreparingPage.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/slices/gameSlice.ts
  packages/client/src/services/store.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiComponents.tsx
  packages/client/src/theme/muiPallete.tsx
  packages/client/src/theme/useTheme.ts
  packages/client/vite.config.ts
  yarn.lock
Due: lintJS, format

feat: добавляет аватар и input для загрузки изображения
  packages/client/public/change-avatar.png
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/data/data.ts
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, lintCSS, format

feat: добавляет регистрацию пользователя
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

feat: добавляет показ ошибок при входе и регистрации
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

refactor: переносит очистку auth ошибок из app в компоненты
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
Due: lintJS, format

feat(23UG-16): добавляет регистрацию пользователя (#25)
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

feat: create game Solo (robot vs user)
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/enums.ts
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
  packages/client/src/components/game/utils/clearIntervals.ts
  packages/client/src/components/game/utils/countGamerCards.ts
  packages/client/src/components/game/utils/createCanvasCenter.ts
  packages/client/src/components/game/utils/createGamerName.ts
  packages/client/src/components/game/utils/createGamersPositions.ts
  packages/client/src/components/game/utils/createNextActionAndArrayCardsForMoves.ts
  packages/client/src/components/game/utils/createUserCards.ts
  packages/client/src/components/game/utils/createUserCardsWithCoordinates.ts
  packages/client/src/components/game/utils/defineFirstGamerMove.ts
  packages/client/src/components/game/utils/handleUserClick.ts
  packages/client/src/components/game/utils/signalizeName.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

feat(23UG-3): реализует вёрстку страницы Профиль
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/data/data.ts
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, lintCSS, format

fix(23UG-3): иправляет ошибки указанные в PR
  packages/client/public/change-avatar.png
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/transformers.ts
Due: lintJS, lintCSS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/utils/createCanvasCenter.ts
  packages/client/src/components/game/utils/createGamersPositions.ts
  packages/client/src/components/game/utils/createUserCards.ts
  packages/client/src/components/game/utils/createUserCardsWithCoordinates.ts
  packages/client/src/components/game/utils/defineFirstGamerMove.ts
  packages/client/src/components/game/utils/handleUserClick.ts
  packages/client/src/components/game/utils/signalizeName.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game-preparing/GamePreparing.tsx
Due: lintJS, format

feat: add button exit
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
Due: lintJS, format

fix: исправляет ошибки типизации и переименовывает input name
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, format

fix: изменяет тип данных для отправки на сервер
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/transformers.ts
  packages/client/src/services/api/types.ts
Due: lintJS, format

feat(23UG-3): реализует вёрстку страницы Профиль (#27)
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/data/data.ts
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/types.ts
Due: lintJS, lintCSS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/enums.ts
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
  packages/client/src/components/game/utils/createNextActionAndArrayCardsForMoves.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/utils/cardsDistribution.ts
  packages/client/src/components/game/utils/createNextActionAndArrayCardsForMoves.ts
  packages/client/src/components/game/utils/handleUserClick.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/utils/createCanvasCenter.ts
  packages/client/src/components/game/utils/createNextActionAndArrayCardsForMoves.ts
  packages/client/src/components/game/utils/defineFirstGamerMove.ts
  packages/client/src/components/game/utils/handleUserClick.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/types/typeAliases.ts
Due: lintJS, format

chore: обновляет typescript
  packages/client/package.json
  yarn.lock
Due: none

fix: исправляет ошибку и типы на странице форума
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/types/types.ts
Due: lintJS, format

fix: комментирует ломаный тип, оставляет todo
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

ci: добавляет yarn build
  .github/workflows/checks.yml
Due: none

fix: изменяет тип данных для отправки на сервер
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, lintCSS, format

build: исправляет ошибки сборки (#28)
  .github/workflows/checks.yml
  packages/client/package.json
  packages/client/src/components/game/Game.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/types/types.ts
  yarn.lock
Due: lintJS, format

fix: исправляет замечаний PR
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

refactor: code
  packages/client/src/assets/images-rules/uno-logo-rules.png
  packages/client/src/pages/RulesPage/RulePageContent.tsx
  packages/client/src/pages/RulesPage/RulesPage.module.scss
  packages/client/src/pages/RulesPage/RulesPage.tsx
Due: lintJS, lintCSS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/clearIntervals.ts
  packages/client/src/components/game/utils/createCanvasCenter.ts
  packages/client/src/components/game/utils/createNextActionAndArrayCardsForMoves.ts
  packages/client/src/components/game/utils/defineCardColorByRobot.ts
  packages/client/src/components/game/utils/defineFirstGamerMove.ts
  packages/client/src/components/game/utils/handleActionTakeOneCard.ts
  packages/client/src/components/game/utils/handleActionTakeTwoOrFourCards.ts
  packages/client/src/components/game/utils/handleRobotActionMove.ts
  packages/client/src/components/game/utils/handleUserClick.ts
  packages/client/src/components/game/utils/loopOnMatchToCardColor.ts
  packages/client/src/components/game/utils/loopOnMatchToTakeTwoCardsAndCardColor.ts
  packages/client/src/components/game/utils/loopOnMatchToTypeOrColor.ts
  packages/client/src/components/game/utils/signalizeName.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/utils/cardsDistribution.ts
Due: lintJS, format

fix: исправляет замечаний PR (2)
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

dev-game-v1 (#26)
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/enums.ts
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
  packages/client/src/components/game/utils/clearIntervals.ts
  packages/client/src/components/game/utils/countGamerCards.ts
  packages/client/src/components/game/utils/createCanvasCenter.ts
  packages/client/src/components/game/utils/createGamerName.ts
  packages/client/src/components/game/utils/createGamersPositions.ts
  packages/client/src/components/game/utils/createNextActionAndArrayCardsForMoves.ts
  packages/client/src/components/game/utils/createUserCards.ts
  packages/client/src/components/game/utils/createUserCardsWithCoordinates.ts
  packages/client/src/components/game/utils/defineCardColorByRobot.ts
  packages/client/src/components/game/utils/defineFirstGamerMove.ts
  packages/client/src/components/game/utils/handleActionTakeOneCard.ts
  packages/client/src/components/game/utils/handleActionTakeTwoOrFourCards.ts
  packages/client/src/components/game/utils/handleRobotActionMove.ts
  packages/client/src/components/game/utils/handleUserClick.ts
  packages/client/src/components/game/utils/loopOnMatchToCardColor.ts
  packages/client/src/components/game/utils/loopOnMatchToTakeTwoCardsAndCardColor.ts
  packages/client/src/components/game/utils/loopOnMatchToTypeOrColor.ts
  packages/client/src/components/game/utils/signalizeName.ts
Due: lintJS, format

feat: реализация страницы 'Правила игры'
  packages/client/src/assets/images-rules/uno-action-draw2.png
  packages/client/src/assets/images-rules/uno-action-reverse.png
  packages/client/src/assets/images-rules/uno-action-skip.png
  packages/client/src/assets/images-rules/uno-cards.png
  packages/client/src/assets/images-rules/uno-general.png
  packages/client/src/assets/images-rules/uno-play.png
  packages/client/src/assets/images-rules/uno-wild-draw4.png
  packages/client/src/assets/images-rules/uno-wild-wild.png
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/RulesPage/RulePageContent.tsx
  packages/client/src/pages/RulesPage/RulesPage.module.scss
  packages/client/src/pages/RulesPage/RulesPage.tsx
Due: lintJS, lintCSS, format

feat(23UG-22): реализует API для работы с аватаркой (#30)
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, lintCSS, format

feat: добавляет serviceWorker для production mode
  packages/client/.eslintignore
  packages/client/.prettierignore
  packages/client/src/main.tsx
  packages/client/src/serviceWorker.ts
  packages/client/src/utils/registerServiceWorker.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lintJS, format

Path conditions:
  lintJS: any of: *.{ts,tsx}
  lintCSS: any of: *.{css,scss}
  format: any of: *.{ts,tsx}
