Repository UNOGroup-Practicum/uno-game: changes, and which lefthook commands are due for each by the changed paths.
All: lintJS, lintCSS, format

lefthook.yml:

pre-commit:
  commands:
    lintJS:
      glob: '*.{ts,tsx}'
      run: yarn eslint --fix {staged_files} && git add {staged_files}
    lintCSS:
      glob: '*.{css,scss}'
      run: yarn stylelint --fix {staged_files} && git add {staged_files}
    format:
      glob: '*.{ts,tsx}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

commit-msg:
  commands:
    commit_message:
      run: npx commitlint --edit {1}

refactor: remove unused variables
  packages/client/src/components/password-change-form/PasswordChangeForm.tsx
Due: lintJS, format

refactor: refactor code after review
  packages/client/src/components/password-change-form/PasswordChangeForm.tsx
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

feat(23-UG20): реализовать API смены пароля (#47)
  packages/client/src/components/password-change-form/PasswordChangeForm.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

feat(23UG-4): Лидерборд
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/leaderboard-profile/database.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/services/api/leaderboardApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, format

feat: add postgres, docker, theme backend
  .env.sample
  .gitignore
  Dockerfile.client
  Dockerfile.server
  README.md
  docker-compose.yml
  packages/client/package.json
  packages/client/server.js
  packages/client/src/client.d.ts
  packages/client/src/services/api/themeApi.ts
  packages/client/src/theme/ThemeContext.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/useTheme.ts
  packages/client/src/utils/themeCookie.ts
  packages/client/vite.config.ts
  packages/server/controllers/themes.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/theme.ts
  packages/server/package.json
  packages/server/routes/index.ts
  packages/server/routes/theme.ts
  packages/server/security_helpers/cors.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lintJS, format

refactor: refact code
  packages/client/package.json
  packages/client/src/services/api/themeApi.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/useTheme.ts
  packages/client/src/utils/themeCookie.ts
  packages/server/controllers/themes.ts
  packages/server/models/theme.ts
  packages/server/routes/theme.ts
  yarn.lock
Due: lintJS, format

refactor: refact code
  packages/client/jest.config.js
Due: none

refactor: move logic theme to ssr
  packages/client/package.json
  packages/client/server.js
  packages/client/src/entry-server.tsx
  packages/client/src/services/api/themeApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/themeSlice.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/server/controllers/themes.ts
  packages/server/routes/theme.ts
Due: lintJS, format

fix: fix code
  packages/client/src/services/store.ts
Due: lintJS, format

feat: add postgres, docker, theme backend (#49)
  .env.sample
  .gitignore
  Dockerfile.client
  Dockerfile.server
  README.md
  docker-compose.yml
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/server.js
  packages/client/src/client.d.ts
  packages/client/src/entry-server.tsx
  packages/client/src/services/api/themeApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/themeSlice.ts
  packages/client/src/services/store.ts
  packages/client/src/theme/ThemeContext.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/useTheme.ts
  packages/client/vite.config.ts
  packages/server/controllers/themes.ts
  packages/server/db.ts
  packages/server/index.ts
  packages/server/models/theme.ts
  packages/server/package.json
  packages/server/routes/index.ts
  packages/server/routes/theme.ts
  packages/server/security_helpers/cors.ts
  packages/server/tsconfig.json
  yarn.lock
Due: lintJS, format

feat(23UG-4): Лидерборд (#48)
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/leaderboard-profile/database.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/services/api/leaderboardApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, format

feat: add a link between game and leaderboard
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/services/api/leaderboardApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/leaderboardSlice.ts
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, format

feat: создаёт таблицы и get-запрос, при запросе на сервере ошибка
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/services/api/forumApi.ts
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
  packages/server/routes/index.ts
Due: lintJS, format

refactor: refact code
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/services/api/types.ts
  packages/client/src/services/slices/leaderboardSlice.ts
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, format

feat: add a link between game and leaderboard (#50)
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/services/api/leaderboardApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/leaderboardSlice.ts
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, format

feat: for
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/ForumPage/data/data.ts
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/services/api/forumApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/routes/forum.ts
Due: lintJS, format

refactor: refact code
  docker-compose.yml
  packages/client/server.js
  packages/server/security_helpers/cors.ts
Due: lintJS, format

refactor: refact code
  docker-compose.yml
  packages/client/nginx.conf
  packages/client/server.js
Due: none

refactor: refact nginx
  packages/client/nginx.conf
Due: none

feat: добавляет endpoint для запроса сообщений по id темы
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, format

feat: добавляет API запроса сообщений и API + endpoint удаления темы форума
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.module.scss
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/services/api/forumApi.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, lintCSS, format

feat: добавляет API + endpoint отправки сообщения
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumPage.module.scss
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/services/api/forumApi.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, lintCSS, format

feat: добавляет проксирование к API yandex через локальный сервер
  .env.sample
  packages/client/package.json
  packages/client/server.js
  packages/client/src/components/app/App.tsx
  packages/client/src/services/slices/oauth-slice.ts
  packages/server/index.ts
  packages/server/package.json
  yarn.lock
Due: lintJS, format

refactor: выносит создание store в функцию createStore
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/services/store.ts
  packages/client/src/theme/ThemeProvider.tsx
Due: lintJS, format

feat: добавляет дополнительную верстку сообщений, реализует ответ на сообщения
  packages/client/index.html
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/MessageForm/MessageForm.module.scss
  packages/client/src/pages/ForumPage/MessageForm/MessageForm.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.module.scss
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageReplyItem.tsx
  packages/server/controllers/forum.ts
Due: lintJS, lintCSS, format

feat: добавляет получение пользователя для SSR
  packages/client/server.js
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/services/api/UserService.ts
  packages/client/src/services/api/YandexAPIClient.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/store.ts
Due: lintJS, format

feat: добавляет аутентификацию пользователя на сервере через yandex api
  packages/server/api/YandexAPIService.ts
  packages/server/routes/index.ts
Due: lintJS, format

test: исправляет тесты для authSlice
  packages/client/src/__tests__/utils.tsx
  packages/client/src/services/slices/__tests__/auth-slice.test.ts
Due: lintJS, format

style: добавляет пустую строку в конце .env.sample
  .env.sample
Due: none

fix: устраняет ошибки типизации и делает рефакторинг
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/MessageForm/MessageForm.tsx
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, format

fix: исправляет работу serviceWorker
  README.md
  package.json
  packages/client/package.json
  packages/client/src/serviceWorker.ts
  packages/server/package.json
  yarn.lock
Due: lintJS, format

feat: добавляет endpoints для работы с реакциями на сообщения
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, format

feat: добавляет extraReduses в forum-slice
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/services/api/types.ts
  packages/client/src/services/slices/forum-slice.ts
Due: lintJS, format

feat: добавляет связи в таблицы
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, format

refactor: удаляет React.StrictMode
  packages/client/src/components/app/App.tsx
  packages/client/src/entry-client.tsx
Due: lintJS, format

feat: добавляет API реакций (не закончено)
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/services/api/forumApi.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/client/src/services/slices/types.ts
  packages/server/controllers/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, format

feat(23UG-77): добавляет авторизацию на сервере (#51)
  .env.sample
  README.md
  package.json
  packages/client/package.json
  packages/client/server.js
  packages/client/src/__tests__/utils.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/serviceWorker.ts
  packages/client/src/services/api/UserService.ts
  packages/client/src/services/api/YandexAPIClient.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/slices/__tests__/auth-slice.test.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/slices/oauth-slice.ts
  packages/client/src/services/store.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/server/api/YandexAPIService.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/routes/index.ts
  yarn.lock
Due: lintJS, format

feat: добавляет API реакций
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/MessageForm/MessageForm.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/types/types.ts
  packages/client/src/services/api/forumApi.ts
  packages/client/src/services/slices/forum-slice.ts
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/models/forum.ts
  packages/server/routes/forum.ts
Due: lintJS, format

fix: исправляет ошибку при работе с реакциями
  packages/server/controllers/forum.ts
  packages/server/db.ts
  packages/server/models/forum.ts
Due: lintJS, format

Create main.yml
  .github/workflows/main.yml
Due: none
