Repository UNOGroup-Practicum/uno-game: changes, and which lefthook commands are due for each by the changed paths.
All: lintJS, lintCSS, format

lintJS:
  run: yarn eslint --fix {staged_files} && git add {staged_files}

lintCSS:
  run: yarn stylelint --fix {staged_files} && git add {staged_files}

format:
  run: yarn prettier --write {staged_files} && git add {staged_files}

feat: реализует работу с asyncThunks через actions pending/fulfilled/rejected
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/services/api/apiRequest.ts
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

feat(23UG-64): реализует аутентификацию пользователя (#17)
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/game/Game.test.tsx
  packages/client/src/main.tsx
  packages/client/src/redux/hooks.ts
  packages/client/src/redux/store.ts
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/api/transformers.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/hooks.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/services/store.ts
Due: lintJS, format

feat: create GamePreparing component
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/game-preparing/GamePreparing.module.scss
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/GamePage.tsx
  packages/client/src/pages/GamePreparingPage.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
Due: lintJS, lintCSS, format

Delete GamePreparing.module.scss
  packages/client/src/components/game-preparing/GamePreparing.module.scss
Due: lintCSS

refactor: delete commented string
  packages/client/src/helpers/validation/validation.ts
Due: lintJS, format

feat: добавлена валидация для форм
  packages/client/src/helpers/validation/validation.ts
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
Due: lintJS, format

refactor: after review
  packages/client/package.json
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  yarn.lock
Due: lintJS, lintCSS, format

refactor: поправил type TFormInput и способ создания объекта для вывода данных
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
Due: lintJS, format

Dev game v1 (#19)
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/enums.ts
  packages/client/src/components/game/utils/createLeftDirection.ts
  packages/client/src/components/game/utils/createRightDirection.ts
  packages/client/src/components/game/utils/createUNOButton.ts
  packages/client/src/constants.ts
  packages/client/src/pages/GamePage.tsx
  packages/client/src/pages/GamePreparingPage.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
Due: lintJS, format

fix: fix code
  packages/client/src/components/app/App.tsx
Due: lintJS, format

refactor: rename folder "helpers" --> "utils"
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/utils/validation/validation.ts
Due: lintJS, format

feat(23UG-26): сверстать страницу форума (#18)
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumPage.module.scss
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.module.scss
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.module.scss
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/ForumPage/data/data.ts
  packages/client/src/pages/ForumPage/helpers/ending.ts
  packages/client/src/pages/ForumPage/helpers/timeOptions.ts
  packages/client/src/pages/ForumPage/types/types.ts
Due: lintJS, lintCSS, format

feat(23UG-66): Валидация форм (#21)
  packages/client/package.json
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/utils/validation/validation.ts
  yarn.lock
Due: lintJS, lintCSS, format

feat: create page /game-preparing
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/gameSlice.ts
Due: lintJS, format

feat: добавляет оптимизацию изображений
  packages/client/package.json
  packages/client/src/client.d.ts
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/picture/Picture.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  yarn.lock
Due: lintJS, format

feat(23UG-62): добавляет оптимизацию изображений (#20)
  packages/client/package.json
  packages/client/src/client.d.ts
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/picture/Picture.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  yarn.lock
Due: lintJS, format

refactor: refact code
  packages/client/package.json
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/gameSlice.ts
  yarn.lock
Due: lintJS, format

fix: delete nanoid due to duplication
  packages/client/package.json
  yarn.lock
Due: none

feat: create page /game-preparing (#23)
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/gameSlice.ts
Due: lintJS, format

feat: реализация страницы leaderboard
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.module.scss
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/leaderboard-profile/database.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, lintCSS, format

feat: реализует переключение тем
  packages/client/src/styles/themes/normal.scss
Due: lintCSS

refactor: замена interface на type , удаление избыточных стилей
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.module.scss
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/leaderboard-profile/database.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, lintCSS, format

refactor: code
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.module.scss
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
Due: lintJS, lintCSS, format

refactor: удаление избыточных стилей
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
Due: lintCSS

refactor: code
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/leaderboard-profile/database.tsx
Due: lintJS, format

refactor: стили root и заголовка
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
Due: lintJS, lintCSS, format

feat(23UG-24): реализует верстку страницы leaderboard (#7)
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/components/leaderboard-profile/database.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/styles/themes/normal.scss
  packages/client/src/utils/createDataForLeaderboard.tsx
Due: lintJS, lintCSS, format

refactor: исправляет имена переменных в соответствии с js coding conventions
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
Due: lintJS, format

fix: исправляет ошибку в ручке получения пользователя
  packages/client/src/services/api/authApi.ts
Due: lintJS, format

feat: добавляет защищенный роут
  packages/client/src/components/app/App.tsx
  packages/client/src/components/protected-route/ProtectedRoute.tsx
Due: lintJS, format

feat: добавляет роут для sign-in и sign-out
  packages/client/src/components/app/App.tsx
  packages/client/src/components/auth-pages-route/AuthPagesRoute.tsx
Due: lintJS, format

feat: реализует выход пользователя из системы
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

feat: реализует вход пользователя в систему
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

fix: after rebase
  packages/client/src/components/game-preparing/GamePreparing.tsx
Due: lintJS, format

Path conditions:
  lintJS: any of: *.{ts,tsx}
  lintCSS: any of: *.{css,scss}
  format: any of: *.{ts,tsx}
