Repository UNOGroup-Practicum/uno-game: changes, and which lefthook commands are due for each by the changed paths.
All: lintJS, lintCSS, format

lefthook.yml:

pre-commit:
  commands:
    lintJS:
      glob: '*.{ts,tsx}'
      run: yarn eslint --fix {staged_files} && git add {staged_files}
    lintCSS:
      glob: '*.{css,scss}'
      run: yarn stylelint --fix {staged_files} && git add {staged_files}
    format:
      glob: '*.{ts,tsx}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

commit-msg:
  commands:
    commit_message:
      run: npx commitlint --edit {1}

feat(23UG-68): добавляет serviceWorker для production mode (#33)
  packages/client/.eslintignore
  packages/client/.prettierignore
  packages/client/src/main.tsx
  packages/client/src/serviceWorker.ts
  packages/client/src/utils/registerServiceWorker.ts
  packages/client/tsconfig.json
  packages/client/vite.config.ts
Due: lintJS, format

feat: добавляет компонент ErrorBoundary
  packages/client/src/components/error-boundary/ErrorBoundary.tsx
Due: lintJS, format

feat: добавляет HOC withErrorBoundary
  packages/client/src/hoc/withErrorBoundary.tsx
  packages/client/vite.config.ts
Due: lintJS, format

feat: добавляет ErrorBoundary для шапки, подвала и роутов
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
Due: lintJS, format

feat: реализует API Профиля (с ошибкой типизации)
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

fix: исправляет ошибку типизации API Профиля
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

feat: оптимизация изображений 'Правила игры'
  packages/client/src/pages/RulesPage/RulePageContent.tsx
  packages/client/src/pages/RulesPage/RulesPage.module.scss
Due: lintJS, lintCSS, format

feat(23UG-27): добавляет обработку ошибок (#34)
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/error-boundary/ErrorBoundary.tsx
  packages/client/src/hoc/withErrorBoundary.tsx
  packages/client/vite.config.ts
Due: lintJS, format

refactor: исправление стилей
  packages/client/src/pages/RulesPage/RulePageContent.tsx
  packages/client/src/pages/RulesPage/RulesPage.module.scss
Due: lintJS, lintCSS, format

feat: реализация страницы 'Правила игры' (#32)
  packages/client/src/assets/images-rules/uno-action-draw2.png
  packages/client/src/assets/images-rules/uno-action-reverse.png
  packages/client/src/assets/images-rules/uno-action-skip.png
  packages/client/src/assets/images-rules/uno-cards.png
  packages/client/src/assets/images-rules/uno-general.png
  packages/client/src/assets/images-rules/uno-play.png
  packages/client/src/assets/images-rules/uno-wild-draw4.png
  packages/client/src/assets/images-rules/uno-wild-wild.png
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/RulesPage/RulePageContent.tsx
  packages/client/src/pages/RulesPage/RulesPage.module.scss
  packages/client/src/pages/RulesPage/RulesPage.tsx
Due: lintJS, lintCSS, format

feat(23UG-71): API для редактирования профиля (#35)
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format

fix: добавляет для versel редирект на /
  packages/client/vercel.json
Due: none

feat(23UG-61): Создать светлую тему
  packages/client/src/components/leaderboard-profile/LeaderbordProfile.tsx
  packages/client/src/styles/index.scss
  packages/client/src/styles/themes/light.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/theme/muiPallete.tsx
Due: lintJS, lintCSS, format

refactor: переименовывает env.VITE_API_ENDPOINT в env.API_ENDPOINT
  .env.sample
  packages/client/src/client.d.ts
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/apiRequest.ts
  packages/client/vite.config.ts
Due: lintJS, format

test: setup
  packages/client/jest.config.js
  packages/client/src/services/slices/__tests__/auth-slice.test.ts
Due: lintJS, format

test: добавляет тесты для auth-slice
  package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/__tests__/api-mock.ts
  packages/client/src/__tests__/fixtures.ts
  packages/client/src/__tests__/setup.ts
  packages/client/src/__tests__/utils.ts
  packages/client/src/services/slices/__tests__/auth-slice.test.ts
  packages/server/package.json
  yarn.lock
Due: lintJS, format

test: добавляет тесты для App
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/__tests__/api-mock.ts
  packages/client/src/__tests__/utils.ts
  packages/client/src/__tests__/utils.tsx
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.test.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/pages/RulesPage/RulesPage.tsx
  yarn.lock
Due: lintJS, format

test: добавляет сбор coverage
  packages/client/jest.config.js
  packages/client/package.json
Due: none

test: добавляет тесты для ErrorBoundary
  packages/client/src/__tests__/fixtures.tsx
  packages/client/src/components/error-boundary/ErrorBoundary.test.tsx
  packages/client/src/components/error-boundary/ErrorBoundary.tsx
Due: lintJS, format

ci: добавляет создание .env файла
  .github/workflows/checks.yml
Due: none

test(23UG-69): добавляет тесты (#38)
  .env.sample
  .github/workflows/checks.yml
  package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/__tests__/api-mock.ts
  packages/client/src/__tests__/fixtures.tsx
  packages/client/src/__tests__/setup.ts
  packages/client/src/__tests__/utils.tsx
  packages/client/src/client.d.ts
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.test.tsx
  packages/client/src/components/error-boundary/ErrorBoundary.test.tsx
  packages/client/src/components/error-boundary/ErrorBoundary.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
  packages/client/src/pages/RulesPage/RulesPage.tsx
  packages/client/src/services/api/apiRequest.ts
  packages/client/src/services/slices/__tests__/auth-slice.test.ts
  packages/client/vite.config.ts
  packages/server/package.json
  yarn.lock
Due: lintJS, format

fix: добавляет валидацию ответа от api
  packages/client/package.json
  packages/client/src/constants.ts
  packages/client/src/services/api/__tests__/authApi.test.ts
  packages/client/src/services/api/__tests__/userApi.test.ts
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/api/schema.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/api/userApi.ts
  packages/client/src/utils/parseSchema.ts
  yarn.lock
Due: lintJS, format

fix: добавляет отображение ошибки схемы при логине
  packages/client/src/services/slices/auth-slice.ts
Due: lintJS, format

feat(23UG-70): реализует полноэкранный режим (CTRL + ENTER)
  packages/client/src/components/app/App.tsx
Due: lintJS, format

feat(23UG-70): реализует полноэкранный режим (ALT + ENTER)
  packages/client/src/components/app/App.tsx
Due: lintJS, format

fix: переносит функцию toggleFullScreen из компоненты в utils
  packages/client/src/components/app/App.tsx
  packages/client/src/utils/toggleFullScreen.ts
Due: lintJS, format

fix(23UG-72): добавляет валидацию ответа от api (#39)
  packages/client/package.json
  packages/client/src/constants.ts
  packages/client/src/services/api/__tests__/authApi.test.ts
  packages/client/src/services/api/__tests__/userApi.test.ts
  packages/client/src/services/api/authApi.ts
  packages/client/src/services/api/schema.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/auth-slice.ts
  packages/client/src/utils/parseSchema.ts
  yarn.lock
Due: lintJS, format

feat: add ssr
  package-lock.json
  packages/client/server.js
  packages/client/src/createEmotionCache.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/ssr.config.ts
Due: lintJS, format

feat: add ssr
  package.json
  packages/client/index.html
  packages/client/package.json
  packages/client/src/components/auth-pages-route/AuthPagesRoute.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/protected-route/ProtectedRoute.tsx
  packages/client/src/main.tsx
  packages/client/src/theme/ThemeProvider.tsx
  yarn.lock
Due: lintJS, format

feat: add ssr
  packages/client/index.html
  packages/client/package.json
  packages/client/server.js
  packages/client/src/client.d.ts
  packages/client/src/entry-server.tsx
  packages/client/src/services/store.ts
  packages/client/ssr.config.ts
  packages/client/vite.config.ts
  yarn.lock
Due: lintJS, format

feat: add ssr
  packages/client/package.json
  packages/client/server.js
  yarn.lock
Due: none

fix: fix nanoid
  packages/client/src/components/game-preparing/GamePreparing.tsx
Due: lintJS, format

fix: delete vercel.json
  packages/client/jest.config.js
  packages/client/vercel.json
Due: none

feat(23UG-73): реализует полноэкранный режим (ALT + ENTER) (#40)
  packages/client/src/components/app/App.tsx
  packages/client/src/utils/toggleFullScreen.ts
Due: lintJS, format

fix: fix code
  packages/client/jest.config.js
  packages/client/src/components/auth-pages-route/AuthPagesRoute.tsx
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/protected-route/ProtectedRoute.tsx
Due: lintJS, format

test: change "test": "npm run test:coverage" to "test": "npm run test:only"
  packages/client/package.json
Due: none

fix: fix yarn.lock
  package-lock.json
  yarn.lock
Due: none

fix: fix code
  packages/client/index.html
  packages/client/package.json
  packages/client/src/client.d.ts
  packages/client/src/services/store.ts
Due: lintJS, format

fix: fix code
  packages/client/package.json
  packages/client/src/theme/ThemeProvider.tsx
  yarn.lock
Due: lintJS, format
