Repository UNOGroup-Practicum/uno-game: changes, and which lefthook commands are due for each by the changed paths.
All: lintJS, lintCSS, format

lefthook.yml:

pre-commit:
  commands:
    lintJS:
      glob: '*.{ts,tsx}'
      run: yarn eslint --fix {staged_files} && git add {staged_files}
    lintCSS:
      glob: '*.{css,scss}'
      run: yarn stylelint --fix {staged_files} && git add {staged_files}
    format:
      glob: '*.{ts,tsx}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

commit-msg:
  commands:
    commit_message:
      run: npx commitlint --edit {1}

test: добавляет обработку css-modules для jest
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/components/app/App.tsx
  packages/client/tsconfig.json
  yarn.lock
Due: lintJS, format

feat: add routing
  packages/client/package.json
  packages/client/src/components/app/App.tsx
  packages/client/src/components/app/app.module.scss
  packages/client/src/components/app/game/Game.module.scss
  packages/client/src/components/app/game/Game.test.tsx
  packages/client/src/components/app/game/Game.tsx
  packages/client/src/main.tsx
  packages/client/src/pages/Game.tsx
  yarn.lock
Due: lintJS, lintCSS, format

feat: add routing
  packages/client/src/components/app/App.test.tsx
  packages/client/src/components/app/game/Game.test.tsx
Due: lintJS, format

feat: add routing
  packages/client/src/components/app/game/Game.test.tsx
  packages/client/src/components/app/game/Game.tsx
Due: lintJS, format

refactor: add commitlint to devDependencies
  package.json
  yarn.lock
Due: none

refactor: create constants file with routes
  packages/client/src/components/app/App.tsx
  packages/client/src/components/app/game/Game.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/Game.tsx
Due: lintJS, format

feat: add routing (#3)
  package.json
  packages/client/package.json
  packages/client/src/components/app/App.test.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/components/app/app.module.scss
  packages/client/src/components/app/game/Game.module.scss
  packages/client/src/components/app/game/Game.test.tsx
  packages/client/src/components/app/game/Game.tsx
  packages/client/src/constants.ts
  packages/client/src/main.tsx
  packages/client/src/pages/Game.tsx
  yarn.lock
Due: lintJS, lintCSS, format

feat: реализует переключение тем
  packages/client/src/components/app/App.tsx
  packages/client/src/index.scss
  packages/client/src/main.tsx
  packages/client/src/styles/index.scss
  packages/client/src/styles/reset.scss
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/styles/variables/global.scss
  packages/client/src/theme/ThemeContext.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/useTheme.ts
Due: lintJS, lintCSS, format

feat: реализованы заглушки страниц
  packages/client/src/components/app-footer/AppFooter.module.scss
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/ForumPage/ForumPage.module.scss
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/HomePage/HomePage.module.scss
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.module.scss
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
Due: lintJS, lintCSS, format

style: исправляет форматирование в scss файлах
  lefthook.yml
  packages/client/src/components/app-footer/AppFooter.module.scss
  packages/client/src/components/app-header/AppHeader.module.scss
Due: lintCSS

feat: реализована верстка шапки сайта
  packages/client/src/assets/images/logo.png
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/styles/themes/dark.scss
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiPallete.ts
Due: lintJS, lintCSS, format

refactor: code
  packages/client/src/components/app-header/AppHeader.tsx
Due: lintJS, format

feat: реализует верстку главной страницы
  packages/client/src/assets/images/advantage-1.png
  packages/client/src/assets/images/advantage-2.png
  packages/client/src/assets/images/advantage-3.png
  packages/client/src/assets/images/advantage-4.png
  packages/client/src/assets/images/advantage-5.png
  packages/client/src/assets/images/pattern_01.png
  packages/client/src/assets/images/promo_bg.jpg
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/pages/HomePage/HomePage.module.scss
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/variables/global.scss
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiComponents.tsx
  packages/client/src/theme/muiPallete.ts
  packages/client/src/theme/muiTypography.tsx
Due: lintJS, lintCSS, format

feat: реализована верстка подвала сайта
  packages/client/src/components/app-footer/AppFooter.module.scss
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app/app.module.scss
  packages/client/src/styles/index.scss
Due: lintJS, lintCSS, format

feat: реализована верстка страницы авторизации и добавлена валидация формы
  packages/client/src/components/elements/button/Button.tsx
  packages/client/src/components/elements/input/Input.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/utils/utils-validate/checkAuthInputValues.ts
  packages/client/src/utils/utils-validate/submitAuthForm.ts
  packages/client/src/utils/utils-validate/validateAuthForm.ts
Due: lintJS, lintCSS, format

feat: 23UG-5 added forum page
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/ForumPage/ForumMessagesListPage.tsx
  packages/client/src/pages/ForumPage/ForumPage.module.scss
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/ForumPage/ForumThemesListPage.tsx
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.module.scss
  packages/client/src/pages/ForumPage/MessageItem/MessageItem.tsx
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.module.scss
  packages/client/src/pages/ForumPage/ThemeItem/ThemeItem.tsx
  packages/client/src/pages/ForumPage/data/data.ts
  packages/client/src/pages/ForumPage/helpers/ending.ts
  packages/client/src/pages/ForumPage/helpers/timeOptions.ts
  packages/client/src/pages/ForumPage/types/types.ts
Due: lintJS, lintCSS, format

feat: реализация страницы 'Правила'
  packages/client/src/assets/images-rules/uno-action-draw2.png
  packages/client/src/assets/images-rules/uno-action-reverse.png
  packages/client/src/assets/images-rules/uno-action-skip.png
  packages/client/src/assets/images-rules/uno-cards.png
  packages/client/src/assets/images-rules/uno-general.png
  packages/client/src/assets/images-rules/uno-logo-rules.png
  packages/client/src/assets/images-rules/uno-play.png
  packages/client/src/assets/images-rules/uno-wild-draw4.png
  packages/client/src/assets/images-rules/uno-wild-wild.png
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/RulesPage/RulesPage.module.scss
  packages/client/src/pages/RulesPage/RulesPage.tsx
Due: lintJS, lintCSS, format

refactor: code
  packages/client/src/components/app/App.tsx
Due: lintJS, format

refactor: внесены корректировки по результатам review
  packages/client/src/assets/images/advantage-1.png
  packages/client/src/assets/images/advantage-2.png
  packages/client/src/assets/images/advantage-3.png
  packages/client/src/assets/images/advantage-4.png
  packages/client/src/assets/images/advantage-5.png
  packages/client/src/assets/images/logo.png
  packages/client/src/assets/images/pattern_01.png
  packages/client/src/assets/images/promo_bg.jpg
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/elements/button/Button.tsx
  packages/client/src/components/elements/input/Input.tsx
  packages/client/src/pages/HomePage/HomePage.module.scss
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/styles/index.scss
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/variables/global.scss
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiComponents.tsx
  packages/client/src/theme/muiPallete.ts
  packages/client/src/theme/muiTypography.tsx
Due: lintJS, lintCSS, format

refactor: добавлена ссылка на страницу регистрации
  packages/client/src/pages/LoginPage/LoginPage.tsx
Due: lintJS, format

refactor: переносит класс смены темы на document.body
  packages/client/src/components/app/App.tsx
Due: lintJS, format

feat: объединяет настройки css переменных и свойств Mui
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/styles/index.scss
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiPallete.ts
  packages/client/src/theme/muiPallete.tsx
Due: lintJS, lintCSS, format

fix: исправляет стили
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
Due: lintJS, lintCSS, format

feat: реализует верстку главной страницы
  packages/client/src/assets/images/advantage-1.png
  packages/client/src/assets/images/advantage-2.png
  packages/client/src/assets/images/advantage-3.png
  packages/client/src/assets/images/advantage-4.png
  packages/client/src/assets/images/advantage-5.png
  packages/client/src/assets/images/pattern_01.png
  packages/client/src/assets/images/promo_bg.jpg
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/pages/HomePage/HomePage.module.scss
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/styles/index.scss
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/variables/global.scss
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiComponents.tsx
  packages/client/src/theme/muiPallete.tsx
  packages/client/src/theme/muiTypography.tsx
Due: lintJS, lintCSS, format

feat: верстка страницы авторизации
  packages/client/src/components/elements/button/Button.tsx
  packages/client/src/components/elements/input/Input.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/theme/muiComponents.tsx
  packages/client/src/theme/muiPallete.ts
  packages/client/src/theme/muiPallete.tsx
Due: lintJS, lintCSS, format

feat(23UG-55): реализует переключение тем (#4)
  packages/client/src/components/app/App.tsx
  packages/client/src/index.scss
  packages/client/src/main.tsx
  packages/client/src/styles/index.scss
  packages/client/src/styles/reset.scss
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/styles/variables/global.scss
  packages/client/src/theme/ThemeContext.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/useTheme.ts
Due: lintJS, lintCSS, format

feat(23UG-23): реализует заглушки страниц (#5)
  lefthook.yml
  packages/client/src/components/app-footer/AppFooter.module.scss
  packages/client/src/components/app-footer/AppFooter.tsx
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/pages/ForumPage/ForumPage.module.scss
  packages/client/src/pages/ForumPage/ForumPage.tsx
  packages/client/src/pages/HomePage/HomePage.module.scss
  packages/client/src/pages/HomePage/HomePage.tsx
  packages/client/src/pages/LiderboardPage/LiderboardPage.module.scss
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/pages/LoginPage/LoginPage.module.scss
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/pages/RegisterPage/RegisterPage.module.scss
  packages/client/src/pages/RegisterPage/RegisterPage.tsx
Due: lintJS, lintCSS, format

fix: исправляет стили
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/theme/muiPallete.tsx
Due: lintJS, lintCSS, format

feat(23UG-57): реализует верстку шапки сайта (#6)
  packages/client/src/assets/images/logo.png
  packages/client/src/components/app-header/AppHeader.module.scss
  packages/client/src/components/app-header/AppHeader.tsx
  packages/client/src/styles/index.scss
  packages/client/src/styles/themes/dark.scss
  packages/client/src/styles/themes/normal.scss
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/src/theme/muiPallete.tsx
Due: lintJS, lintCSS, format
