Repository UNOGroup-Practicum/uno-game: changes, and which lefthook commands are due for each by the changed paths.
All: lintJS, lintCSS, format

lefthook.yml:

pre-commit:
  commands:
    lintJS:
      glob: '*.{ts,tsx}'
      run: yarn eslint --fix {staged_files} && git add {staged_files}
    lintCSS:
      glob: '*.{css,scss}'
      run: yarn stylelint --fix {staged_files} && git add {staged_files}
    format:
      glob: '*.{ts,tsx}'
      run: yarn prettier --write {staged_files} && git add {staged_files}

commit-msg:
  commands:
    commit_message:
      run: npx commitlint --edit {1}

fix: replace rimraf from dependencies to devDependencies
  packages/client/package.json
Due: none

fix: fix commands in package.json
  package.json
  packages/client/package.json
  packages/server/package.json
Due: none

dev-ssr (#41)
  package.json
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/server.js
  packages/client/src/client.d.ts
  packages/client/src/createEmotionCache.ts
  packages/client/src/entry-client.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/services/store.ts
  packages/client/src/theme/ThemeProvider.tsx
  packages/client/vercel.json
  packages/client/vite.config.ts
  packages/server/package.json
  yarn.lock
Due: lintJS, format

refactor: refact game
  package.json
  packages/client/package.json
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
Due: lintJS, format

fix: change import.meta.env.PROD to process.env.NODE_ENV === production
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

refactor: add button restart
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

refactor: add default is mute for music button
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

feat(23UG-25): Реализовать API лидерборда
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
  packages/client/src/services/api/leaderboardApi.ts
  packages/client/src/services/api/types.ts
Due: lintJS, format

refactor: refactor code
  packages/client/src/pages/LiderboardPage/LiderboardPage.tsx
Due: lintJS, format

refactor: refact game (#42)
  package.json
  packages/client/package.json
  packages/client/src/components/game-preparing/GamePreparing.tsx
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/game/types/typeAliases.ts
  packages/client/src/components/game/utils/cardsDistribution.ts
Due: lintJS, format

fix: fix code
  packages/client/src/components/game/utils/cardsDistribution.ts
Due: lintJS, format

feat: добавляет Player (ипользовано Page Visibility API)
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/player/Player.tsx
Due: lintJS, format

fix: удаляет лишний код в Game
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

feat: добавляет раздел со сменой пароля
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/types.ts
Due: lintJS, format

fix: блок смены пароля вынесен в модальное окно, добавлено уведомление об успешной отправке и закрытие по таймауту
  packages/client/src/components/changePassword/ChangePassword.module.scss
  packages/client/src/components/changePassword/ChangePassword.tsx
  packages/client/src/components/changePassword/buttonCloseCross/ButtonCrossClose.module.scss
  packages/client/src/components/changePassword/buttonCloseCross/ButtonCrossClose.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, lintCSS, format

fix: внесены изменения по результатам review
  packages/client/src/components/changePassword/ChangePassword.module.scss
  packages/client/src/components/changePassword/ChangePassword.tsx
  packages/client/src/components/changePassword/buttonCloseCross/ButtonCrossClose.module.scss
  packages/client/src/components/changePassword/buttonCloseCross/ButtonCrossClose.tsx
  packages/client/src/components/modal-form/ModalForm.module.scss
  packages/client/src/components/modal-form/ModalForm.tsx
  packages/client/src/components/modal-form/password-change-form/PasswordChangeForm.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/types.ts
Due: lintJS, lintCSS, format

style: откорректирован фон модального окна с учетом светлой темы оформления
  packages/client/src/components/changePassword/ChangePassword.module.scss
Due: lintCSS

fix: убрал выделение блока смены пароля в отдельный компонент и реализовал его непосредственно на странице профиля
  packages/client/src/components/modal-form/ModalForm.module.scss
  packages/client/src/components/modal-form/ModalForm.tsx
  packages/client/src/components/modal-form/password-change-form/PasswordChangeForm.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, lintCSS, format

fix: форма смены пароля вынесена в отдельный компонент
  packages/client/src/components/password-change-form/PasswordChangeForm.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, format

fix: устраняет утечку памяти при размонтировании
  packages/client/src/components/player/Player.tsx
Due: lintJS, format

refactor: refactor code
  packages/client/src/services/api/leaderboardApi.ts
Due: lintJS, format

feat(23UG-19): добавляет раздел со сменой пароля (#36)
  packages/client/src/components/password-change-form/PasswordChangeForm.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.module.scss
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/types.ts
Due: lintJS, lintCSS, format

fix: refactor1
  packages/client/src/components/timer/Timer.ts
Due: lintJS, format

refactor: refactor code
  packages/client/src/components/player/Player.tsx
Due: lintJS, format

feat: реализует Player
  packages/client/src/components/player/Player.tsx
Due: lintJS, format

feat(23UG-25): Реализовать API лидерборда (#43)
  packages/client/src/services/api/leaderboardApi.ts
  packages/client/src/services/api/types.ts
Due: lintJS, format

refactor: перемещает usePageVisibility в services/hooks
  packages/client/src/components/player/Player.tsx
  packages/client/src/services/hooks.ts
Due: lintJS, format

fix: устраняет утечку памяти
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

feat: добавляет кнопку логина с помощью яндекс id
  packages/client/src/pages/LoginPage/LoginPage.tsx
Due: lintJS, format

fix: исправляет обработку пустых полей в ответе от API с данными пользователя
  packages/client/src/components/app/App.test.tsx
  packages/client/src/services/api/__tests__/authApi.test.ts
  packages/client/src/services/api/__tests__/userApi.test.ts
  packages/client/src/services/api/schema.ts
  packages/client/src/services/api/transformers.ts
Due: lintJS, format

fix: добавляет value для second_name на странице профиля
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
Due: lintJS, format

feat: реализует OAuth через яндекс id
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/services/api/OAuthApi.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/oauth-slice.ts
Due: lintJS, format

feat(23UG-40): реализует OAuth через яндекс id (#45)
  packages/client/src/components/app/App.test.tsx
  packages/client/src/components/app/App.tsx
  packages/client/src/constants.ts
  packages/client/src/pages/LoginPage/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ProfilePage.tsx
  packages/client/src/services/api/OAuthApi.ts
  packages/client/src/services/api/__tests__/authApi.test.ts
  packages/client/src/services/api/__tests__/userApi.test.ts
  packages/client/src/services/api/schema.ts
  packages/client/src/services/api/transformers.ts
  packages/client/src/services/api/types.ts
  packages/client/src/services/reducers.ts
  packages/client/src/services/slices/oauth-slice.ts
Due: lintJS, format

feat: добавляет отчёт об утечках памяти
  packages/client/memoryleak.md
Due: none

fix: исправляет фото в отчёте
  packages/client/memoryleak.md
  packages/client/public/after_game.png
  packages/client/public/game-after_game.png
Due: none

feat(23UG-74): добавляет Player (ипользовано Page Visibility API) (#44)
  packages/client/src/components/game/Game.tsx
  packages/client/src/components/player/Player.tsx
  packages/client/src/components/timer/Timer.ts
  packages/client/src/services/hooks.ts
Due: lintJS, format

fix(23UG-76): устраняет утечку памяти (#46)
  packages/client/memoryleak.md
  packages/client/public/after_game.png
  packages/client/public/game-after_game.png
  packages/client/src/components/game/Game.tsx
Due: lintJS, format

feat: реализует API смены пароля
  packages/client/src/components/password-change-form/PasswordChangeForm.tsx
  packages/client/src/services/api/userApi.ts
  packages/client/src/services/slices/user-slice.ts
Due: lintJS, format
